In [1]:
import pandas as pd

In [2]:
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [4]:
df[1:2]

        course_name  duration
1  Machine Learning         3

In [12]:
# The loc and iloc functions in Pandas are used to slice a data set. The function . loc is primarily used for label indexing,
# while . iloc is mainly used for integer indexing.

In [5]:
df1=pd.read_csv("services.csv")

In [7]:
df2=df1.head(4)

In [13]:
new_df=df2.reindex([3,0,1,2])

In [14]:
new_df.loc[2]

id                                                                         3
location_id                                                                3
program_id                                                               NaN
accepted_payments                                                        NaN
alternate_name                                                           NaN
application_process              Phone for information (403-4300 Ext. 4322).
audience                   Older adults age 55 or over who can benefit fr...
description                Offers supportive counseling services to San M...
eligibility                      Resident of San Mateo County age 55 or over
email                                                                    NaN
fees                                                                   None.
funding_sources                                    County, Donations, Grants
interpretation_services                                                  NaN
keywords                   Geriatric Counseling, Older Adults, Gay, Lesbi...
languages                                                                NaN
name                                                  Senior Peer Counseling
required_documents                                                       NaN
service_areas                                               San Mateo County
status                                                                active
wait_time                                                            Varies.
website                                                                  NaN
taxonomy_ids                                                             NaN
Name: 2, dtype: object

In [15]:
new_df.iloc[2]

id                                                                         2
location_id                                                                2
program_id                                                               NaN
accepted_payments                                                        NaN
alternate_name                                                           NaN
application_process                       Apply by phone for an appointment.
audience                        Residents of San Mateo County age 55 or over
description                Provides training and job placement to eligibl...
eligibility                Age 55 or over, county resident and willing an...
email                                                                    NaN
fees                       None. Donations requested of clients who can a...
funding_sources                                       County, Federal, State
interpretation_services                                                  NaN
keywords                   EMPLOYMENT/TRAINING SERVICES, Job Development,...
languages                                                                NaN
name                                        Second Career Employment Program
required_documents                                                       NaN
service_areas                                               San Mateo County
status                                                                active
wait_time                                                            Varies.
website                                                                  NaN
taxonomy_ids                                                             NaN
Name: 1, dtype: object

In [16]:
new_df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,None,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [17]:
#iloc always take in built index such 0,1,2 where as loc takes custamized index

In [18]:
data=[(1,2,3),(4,5,6),(7,8,9)]

In [27]:
df=pd.DataFrame(data,columns = ['column_1', 'column_2', 'column_3'],index=[1,2,3])

In [28]:
df

   column_1  column_2  column_3
1         1         2         3
2         4         5         6
3         7         8         9

In [36]:
df["column_2"].std()

3.0

In [37]:
df["column_1"].mean()

4.0

In [38]:
df["column_2"].mean()

5.0

In [39]:
df["column_3"].mean()

6.0

In [42]:
df["column_2"][1:2]="bakh"

/tmp/ipykernel_71/2581244618.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  df["column_2"][1:2]="bakh"

In [43]:
df

   column_1 column_2  column_3
1         1        2         3
2         4     bakh         6
3         7        8         9

In [47]:
df["column_2"].loc[2]="hussain"

In [48]:
df["column_2"].loc[2]

'hussain'

In [ ]:
# 6 Ans. A window is a value (in terms of rows) that tells us the distance between our current row and the row 
# which is to be used for calculations. Windows function in Pandas can be broadly divided into three categories 
# namely- Aggregate, Ranking, and Value.

In [55]:
data=pd.date_range(start="2024-06-01",end="2024-06-30")

In [56]:
data

DatetimeIndex(['2024-06-01', '2024-06-02', '2024-06-03', '2024-06-04',
               '2024-06-05', '2024-06-06', '2024-06-07', '2024-06-08',
               '2024-06-09', '2024-06-10', '2024-06-11', '2024-06-12',
               '2024-06-13', '2024-06-14', '2024-06-15', '2024-06-16',
               '2024-06-17', '2024-06-18', '2024-06-19', '2024-06-20',
               '2024-06-21', '2024-06-22', '2024-06-23', '2024-06-24',
               '2024-06-25', '2024-06-26', '2024-06-27', '2024-06-28',
               '2024-06-29', '2024-06-30'],
              dtype='datetime64[ns]', freq='D')

In [57]:
df2=pd.DataFrame({"dates":data})

In [58]:
df2

        dates
0  2024-06-01
1  2024-06-02
2  2024-06-03
3  2024-06-04
4  2024-06-05
5  2024-06-06
6  2024-06-07
7  2024-06-08
8  2024-06-09
9  2024-06-10
10 2024-06-11
11 2024-06-12
12 2024-06-13
13 2024-06-14
14 2024-06-15
15 2024-06-16
16 2024-06-17
17 2024-06-18
18 2024-06-19
19 2024-06-20
20 2024-06-21
21 2024-06-22
22 2024-06-23
23 2024-06-24
24 2024-06-25
25 2024-06-26
26 2024-06-27
27 2024-06-28
28 2024-06-29
29 2024-06-30

In [59]:
df2["month"]=df2["dates"].dt.month

In [65]:
df2[["month"]]

    month
0       6
1       6
2       6
3       6
4       6
5       6
6       6
7       6
8       6
9       6
10      6
11      6
12      6
13      6
14      6
15      6
16      6
17      6
18      6
19      6
20      6
21      6
22      6
23      6
24      6
25      6
26      6
27      6
28      6
29      6

In [61]:
df2["year"]=df2["dates"].dt.year

In [64]:
df2[["year"]]

    year
0   2024
1   2024
2   2024
3   2024
4   2024
5   2024
6   2024
7   2024
8   2024
9   2024
10  2024
11  2024
12  2024
13  2024
14  2024
15  2024
16  2024
17  2024
18  2024
19  2024
20  2024
21  2024
22  2024
23  2024
24  2024
25  2024
26  2024
27  2024
28  2024
29  2024

In [67]:
df10=pd.DataFrame({"dates":["2024-06-27","2024-06-30","2024-06-21"]})

In [70]:
df10.dtypes

dates    object
dtype: object

In [72]:
df11=pd.to_datetime(df10["dates"])

In [74]:
df11

0   2024-06-27
1   2024-06-30
2   2024-06-21
Name: dates, dtype: datetime64[ns]

In [75]:
td=pd.Timedelta(days=1,hours=12,minutes=40)

In [76]:
dt=pd.to_datetime("2024-06-27")

In [77]:
td+dt

Timestamp('2024-06-28 12:40:00')

In [83]:
new_df[["location_id"]].sort_values

<bound method DataFrame.sort_values of    location_id
3            4
0            1
1            2
2            3>

In [86]:
cat=pd.Categorical(new_df["location_id"])

In [87]:
cat

[4, 1, 2, 3]
Categories (4, int64): [1, 2, 3, 4]

In [88]:
info=[(1,85),
(2,90),
(3,80),
(4,75),
(5,85),
(6,82),
(7,78),
(8,85),
(9,90),
(10,85)]

df45=pd.DataFrame(info,columns=["Student ID","Test Score"])

In [89]:
df45

   Student ID  Test Score
0           1          85
1           2          90
2           3          80
3           4          75
4           5          85
5           6          82
6           7          78
7           8          85
8           9          90
9          10          85

In [90]:
df45["Test Score"].mean()

83.5

In [91]:
df45["Test Score"].median()

85.0

In [92]:
df45["Test Score"].mode()

0    85
Name: Test Score, dtype: int64